.audio_only_div {
  z-index: 10;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  font-size: 18px;
  pointer-events: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#movie_player:active .audio_only_div {
  display: none !important;
}

.alert_text {
  position: relative;
  top: 10%;
  text-align: center;
  white-space: break-spaces;
}

.small {
  margin-top: 8px;
  font-size: 12px;
  color: #eee;
}